modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "f15408deee9e64c3adf58143fbe90a0a8475f8f325db2cae4178906fa38f94a876bdd4b2e7db9d6d56643d72ab83e343"
VAPID_PUBLIC_KEY = "BNawYbIRzpfp10JctVl-SXAxCPhcQHOys7G7VPV_VG-zE82KiGxMKBE4EMXe9BuutIftoHIqQ7BfpAAn3Z_AqtA"
VAPID_PRIVATE_KEY = "6gfeJuPSxGmvgcTp8sym8w9v58ctBsIcK6rZKdj9xJE"
